APP_ENV=local
APP_KEY=SomeRandomString
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=http://172.16.31.92 #you can change this to your domain ip from where you want app to run in

DB_CONNECTION=mysql
DB_HOST=172.16.31.164 # you can change this to your db server ip
DB_PORT=3306
DB_DATABASE=todoapp 
DB_USERNAME=homestead
DB_PASSWORD=todoapp786@

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
